/*
-----start-navbar-----
*/
.navbar {
    background-color: var(--main-color);
    padding: 15px 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    transition: all 0.5s ease;

    >.container {
        padding: 0 15px;
    }

    .navbar-brand {
        font-size: 30px;
        color: #fff;
        font-weight: 500;
        text-transform: capitalize;
    }

    .nav-item {
        margin-left: 40px;

        .nav-link {
            padding: 5px 0;
            font-size: 1rem;
            text-transform: capitalize;
            font-weight: 400;
            color: #fff;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 1px;
                background-color: #fff;
                transition: all .5s ease-in-out;
                transform: scale(0);
            }

            &:hover::before {
                transform: scale(1);
            }

            &.active::before {
                transform: scale(1);
            }
        }
    }

}

/*
-----end-navbar-----
*/
/*
-----start-home-----
*/
.home {
    padding: 150px 0;
    background-color: var(--main-to-dark-color);
    border-radius: 0 0 200px 0;
    position: relative;
    z-index: 1;

    .effect-wrap {
        .effect {
            position: absolute;
            z-index: -1;
        }

        .effect-1 {
            left: 20%;
            top: 20%;
            font-size: 20px;
            color: var(--color-2);
            animation: spin_01 5s linear infinite;
        }

        .effect-2 {
            right: 5%;
            top: 10%;
            font-size: 25px;
            color: rgba(255, 255, 255, .5);
            animation: spin_01 7s linear infinite;
        }

        .effect-3 {
            left: 5%;
            bottom: 30%;
            font-size: 25px;
            color: var(--color-3);
            animation: bounceToTop_01 3s linear infinite;
        }
    }

    .home-text {
        h1 {
            font-size: 45px;
            color: #fff;
            font-weight: 700;
            margin: 0 0 20px;
        }

        p {
            font-size: 18px;
            line-height: 28px;
            color: #fff;
            margin: 0;
            font-weight: 300;
        }

        .home-btn {
            margin-top: 40px;

            .video-play-btn {
                margin-left: 30px;
                height: 50px;
                width: 50px;
                padding: 0;
                font-size: 16px;
                animation: pulse_01 2s ease infinite;

                i {
                    line-height: 50px;
                }

                &:hover {
                    animation: none;
                    box-shadow: var(--shadow-black-300);
                }
            }
        }
    }

    .home-img {
        position: relative;

        .circle {
            position: absolute;
            z-index: 1;
            height: 400px;
            width: 400px;
            border: 1px solid rgba(255, 255, 255, .2);
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::before {
                content: "";
                position: absolute;
                height: 60px;
                width: 60px;
                left: 30px;
                top: 30px;
                background-color: rgba(255, 255, 255, .4);
                border-radius: 50%;
                transform-origin: 170px 170px;
                animation: spin_01 10s linear infinite;
            }
        }

        img {
            max-width: 250px;
            width: 100%;
            box-shadow: var(--shadow-black-100);
            border-radius: 32px;
            animation: bounceToTop_01 3s ease infinite;
        }
    }
}

/*
-----end-home-----
*/

/*
-----start-popup-video-----
*/
.video-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    display: none;
    transition: all .5s ease;

    .video-popup-inner {
        width: 100%;
        max-width: 900px;
        position: relative;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);

        .video-popup-close {
            position: absolute;
            right: 0;
            top: -30px;
            width: 30px;
            font-size: 16px;
            text-align: center;
            line-height: 30px;
            color: #fff;
            cursor: pointer;
        }

        .video-popup-open {
            opacity: 1;
            visibility: visible;
        }

        .iframe-box {
            height: 0;
            overflow: hidden;
            padding-top: 56.25%;

            #player-1 {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border: 0;
            }
        }
    }
}

/*
-----end-popup-video-----
*/
/*
-----start-header-responsive-----
*/

@media (max-width: 991px) {
    .navbar-toggler {
        background-color: var(--main-to-dark-color);
        box-shadow: var(--shadow-black-300);
        height: 34px;
        width: 34px;
        padding: 0;
        font-size: 17px;
        color: #fff;
    }

    .navbar-nav {
        background-color: var(--main-to-dark-color);
        padding: 10px;
    }

    .nav-item {
        margin: 0;
        padding: 5px 15px;
    }

    .home-img {
        .circle {
            height: 320px;
            width: 320px;
        }
    }

    .home-text {
        h1 {
            font-size: 38px !important;
        }
    }
}

@media (max-width: 767px) {
    .home-text {
        margin-bottom: 80px;
    }

    .section-title {
        h2 {
            font-size: 35px !important;
        }
    }
}

@media (max-width: 575px) {
    .home-text {
        h1 {
            font-size: 30px !important;
        }

        p {
            font-size: 16px !important;
        }
    }

    .section-title {
        h2 {
            font-size: 30px !important;
        }
    }
}

/*
-----end-header responsive-----
*/