.btn-1 {
    background-color: #fff;
    color: var(--main-color);
    padding: 12px 30px ;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    transition: all .5s ease-in-out;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
    &:focus {
        box-shadow: var(--shadow-black-300);
    }
    &:hover {
        background-color: var(--main-color);
        color: #fff;
    }
}
.btn-2 {
    background-color: var(--main-color);
    color: #fff;
    padding: 12px 30px ;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    transition: all .5s ease-in-out;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
    &:focus {
        box-shadow: var(--shadow-black-100);
    }
    &:hover {
        background-color: #fff;
        color: var(--main-color);
    }
}